<!DOCTYPE html>
<html>
	<head>
		<title>Ministry App - Demo</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/app.css">

	</head>
	<body>

	<div class="row-fluid">
		<div class="span12">
			<img class="img_hdr" src="media/pics/Mission_Story_Header.png" />
		</div>
	</div>

		<div class="contentSpan10">
			<video poster="media/pics/Mission_Story.png" class="videoStyle" controls >
				<source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' >
				<source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' >
				<source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg'>
				<object type="application/x-shockwave-flash" data="player.swf" width="100%" height="auto">
				    <param name="allowfullscreen" value="true">
				    <param name="allowscriptaccess" value="always">
				    <param name="flashvars" value="file=http://video-js.zencoder.com/oceans-clip.mp4">
				    <!--[if IE]><param name="movie" value="player.swf"><![endif]-->
				    <img src="media/pics/Mission_Story.png" width="854" height="480" alt="Video">
				    <p>Your browser can’t play HTML5 video. <a href="http://video-js.zencoder.com/oceans-clip.webm">
				Download it</a> instead.</p>
				  </object>					
				Your browser does not support the video tag.
			</video>
		</div>


	</body>
</html>