<!DOCTYPE html>
<html>
	<head>
		<title>Ministry App - Demo</title>
		<link rel="stylesheet" type="text/css" href="css/app.css">

	</head>
	<body>

	<div class="row-fluid">
		<div class="span12">
			<img src="media/pics/Mission_Story_Header.png" />
		</div>
	</div>

		<div class="span12">
			<video poster="media/pics/Mission_Story.png" class="videoStyle" controls >
				<source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' >
				<source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' >
				<source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg'>
				Your browser does not support the video tag.
			</video>
		</div>


	</body>
</html>