<!DOCTYPE html>
<html>
	<head>
		<title>Ministry App - Demo</title>
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
	<body>
		<div class="contentSpan10">
			<img src="media/pics/Mission Story_header.png" />
			<div style="align:center;">

				<video id="example_video_1" class="videoStyle" controls preload="none" width="640" height="264" data-setup="{}" poster="media/pics/Mission Story.png">
					<source src="http://video-js.zencoder.com/oceans-clip.mp3" type='video/mp3' > </source>
					<source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' > </source>
					<source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg'></source>
					Your browser does not support the video tag.
				</video>
			</div>
		</div>
	</body>
</html>