<!DOCTYPE html>
<html>
	<head>
		<title>Ministry App - Demo</title>
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
  	<body>  
  		<div class="contentSpan10">
			<audio autoplay> 
				<source src="http://www.html5rocks.com/en/tutorials/audio/quick/test.mp3" type="audio/mp3" >  </source>
				<source src="http://www.html5rocks.com/en/tutorials/audio/quick/test.ogg" type="audio/ogg" > </source>
				<embed src="http://www.html5rocks.com/en/tutorials/audio/quick/test.mp3"> </source>
		        HTML5 audio not supported
		    </audio>  			
    		<img src="media/pics/music.png" />
    	</div>
    </body>
</html>