<!DOCTYPE html>
<html>
	<head>
		<title>Ministry App - Demo</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
	<body>
		
		
		<!-- IFRAME src="http://ministry-demo-app.cloudfoundry.com/media/ppt/fullscreen_view.html" class="iframe10" >
			[Your user agent does not support frames or is currently configured not to display frames.]
		</IFRAME -->

			<div class="iframe_div">
		        
		        <!-- object data="media/ppt/Ministry_App.html" width="100%"> 
		        	<embed src="media/ppt/Ministry_App.html" width="100%"> </embed>
				</object -->
				<img class="ratio" src="images/16x9.gif"/>
		        <iframe src="media/ppt/Ministry_App.html" class="iframe10" frameborder="0">
		        	[Your user agent does not support frames or is currently configured not to display frames.]
		        </iframe>
				
			</div>

	</body>
</html>