<!DOCTYPE html>
<html>
	<head>
		<title>Ministry App - Demo</title>
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
	<body>
		
		
		<!-- IFRAME src="http://ministry-demo-app.cloudfoundry.com/media/ppt/fullscreen_view.html" class="iframe10" >
			[Your user agent does not support frames or is currently configured not to display frames.]
		</IFRAME -->


	    <div class="h_iframe">
	        <!-- a transparent image is preferable -->
	        <img class="ratio" src="images/16x9.gif"/>
	        <!-- object data="media/ppt/Ministry_App.html" width="100%"> 
	        	<embed src="media/ppt/Ministry_App.html" width="100%"> </embed>
			</object -->
	        <iframe src="http://192.168.0.103:8000/demo-client/demo-client/www/media/ppt/Ministry_App.html" frameborder="0">
	        	[Your user agent does not support frames or is currently configured not to display frames.]
	        </iframe>
	    </div>    

	</body>
</html>