/*!
 * Ministry App v1.0.0
 *
 * @author peluri
 * Designed for the entire app.
 */



.bodyMain { 
	background-image:url('../images/background.png');
	background-repeat:no-repeat;
	background-size:cover;
	height: inherit;
	width: 100%;
	overflow: visible;
}

@media screen and (max-width: 480px) {
	
  a img 
  {
	  width: 57px;
	  height: 57px;
  }
  
  .contentSpan10 img 
  {
	  width: 144px;
	  height: 144px;
  }  
}

@media screen and (max-width: 480px) and (orientation: landscape) {
  a img 
  {
	  width: 57px;
	  height: 57px;
  }
  
  .contentSpan10 img 
  {
	  width: 488px;
	  height: 488px;
  }  
}



.container{
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  *zoom: 1;
}

.btn-toolbar {
	position:inherit;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 0;
}
.btn-group {
  position: inherit;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
  font-size: 0;
  vertical-align: middle;
  *zoom: 1;
}


.img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.contentSpan10 {

}

.videoStyle {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  margin-left: 10%;
  margin-top: 2%;
  
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.iframe10 {
  width: 780px;
  height:540px;
  margin-left: 2%;
  margin-bottom: 1%;
  height: 80%;
}
.span4 {
  width: 300px;
}

.dupe_container_format {
  margin-right: auto;
  margin-left:  auto;
  margin-top: 1%;
  width: 83%;
  *zoom: 1;
}
.dupecontentSpan10 {
  width: 780px;
  margin-left: 2%;
  margin-bottom: 2%;
}
* { -webkit-transition: width .5s; }