/*!
 * Ministry App v1.0.0
 *
 * @author peluri
 * Designed for the phone app.
 */


/*  CSS Reset */
.html,.body, .div {margin:0; padding:0;}
.img {border:none;}

/* body CSS */
.bodyMain { 
	background-image:url('../images/background.png');
	background-repeat:no-repeat;
	background-size:cover;
	min-width: 120px;
  	max-width: 320px;
	
}

/* Container */
.container_format {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  *zoom: 1;
}

.img {
  width: 250px;
  height: 187.5px;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.btn-toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0;
}
.btn-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  *zoom: 1;
}


.contentSpan10 {

}

.videoStyle {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  margin-left: 10%;
  margin-top: 2%;
  
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.iframe10 {
  width: 780px;
  height:540px;
  margin-left: 2%;
  margin-bottom: 1%;
  height: 80%;
}
.span4 {
  width: 300px;
}

.dupe_container_format {
  margin-right: auto;
  margin-left:  auto;
  margin-top: 1%;
  width: 83%;
  *zoom: 1;
}
.dupecontentSpan10 {
  width: 780px;
  margin-left: 2%;
  margin-bottom: 2%;
}

/*.html,.body,.div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {font-size:1em; font-weight:normal; font-style:normal;}
.ul,.ol {list-style:none;}
.fieldset,.img,.hr {border:none;}
.caption,.th {text-align:left;}
.table {border-collapse:collapse; border-spacing:0;}
.td {vertical-align:top;}*/